<html>
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <title></title>
  </head>
  <body>
    <div id="navigation_start" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="logo">
        <img src="/KURIO%20ANALYTICS.png" align="center" width="820" />
      </a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a class="logo">
      <img src="/keys.gif" width="100" />
    </a>
    <h5>YOU ENTER A WRONG
    <br />LOGIN OR PASSWORD
    <br />PLEASE ENTER A NEW ONE</h5>
    <br />
    <form>
      <input type="button" value="Back" onclick="location.href=&#39;/&#39;" />
    </form>
  </body>
</html>
